# aeSecure
RewriteEngine on
RewriteOptions Inherit

# Allow only requests to these files.  This is NOT condition : specify extensions that are allowed. 
# The other one will be refused.   Don't specify php except if you want to allow php script in this folder.
RewriteCond %{REQUEST_URI} !.*\.(css|html?|jpe?g|js|gif|pdf|png|te?xt|xml|zip)
RewriteRule . /%AESECURE_SITEROOT%aesecure/accessdenied.php?s=403&fld=uploads

# secure directory by disabling script execution
AddHandler cgi-script .php .pl .py .jsp .asp .sh .cgi
Options -ExecCGI