#aeSecure
# secure directory by disabling script execution
AddHandler cgi-script .php .pl .py .jsp .asp .sh .cgi
Options -ExecCGI
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteOptions Inherit
RewriteCond %{REQUEST_URI} ^((.*/)(logs/).*)$ [NC]
RewriteCond %{REQUEST_FILENAME} !index\.html [NC]
RewriteRule .* %2accessdenied.php?s=403&file=%1&blocked=%2logs [L]
</IfModule>
