#aeSecure
#<IfModule mod_rewrite.c>
#RewriteEngine On
#RewriteOptions Inherit
#RewriteCond %{REQUEST_URI} ^((.*/)(tools/.*))$ [NC]
#RewriteCond %{REQUEST_FILENAME} !index\.html [NC]
#RewriteCond %{REQUEST_FILENAME} !.(img|gif|png|js|css) [NC]
#RewriteCond %{REQUEST_FILENAME} !pentest\.php [NC]
#RewriteRule .* %2accessdenied.php?s=403&file=%1&blocked=%2tools [L]
#</IfModule>
